body {
    font-family: '-apple-system','HelveticaNeue';
    margin: 0;
    padding: 0;
}

#header {
    top: 0;
    font-weight: bold;
    border-bottom: 1px solid #bbb;
    text-align: center;
    padding: 18px 0;
    position: fixed;
    width: 100%;
    background-color: rgba(230, 230, 230, 200)
}

#address_book {
    margin-top: 60px;
}

.peer {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 18px;
    cursor: pointer;
}

.peer label {
    font-weight: bold;
    display: block;
    margin: auto;
    cursor: pointer;
}

#incall {
    margin-top: 60px;
    width: 100%;
    height: 80vh;
}

.call_info {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

.hang_up {
    color: white;
    font-size: 30px;
    background-color: red;
    border: 0;
    display: block;
    width: 104px;
    height: 60px;
    border-radius: 30px;
    margin-left: -52px;
    margin-bottom: 60px;
    left: 50%;
    bottom: 0;
    position: absolute;
    /* transform: rotate(110deg);  */
}

.hang_up:active {
    opacity: 0.6;
    transform:  rotate(136deg);
}
